.card-title{
    color:black;
}
.card-title{

    background-color:yellow;
    padding: 15px;
    border-radius: 20px;
    display: flex;   
    
}
.picture{
background-color: antiquewhite;
margin: 6px;
overflow: hidden;
position: relative;

}

