

.cards{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 38px;
    padding-bottom: 40vh;
}

.cards div{

position: relative;
width: 320px;
height: 400px;
border: 2px solid lightgrey;
margin: 10px;
text-align: center;
padding: 7px;
}


.cards div a button:hover{
    background-color: black;
    color: white;
  
    }

.cards div img{
    width: 260px;
    height: 290px;
}

.cards div p{
    color: black;
    font-family: sans-serif;
       font-size: 17px;
   font-variant: small-caps;
}
.cards div h1{
    color: #333333;
    font-family: sans-serif;
       font-size: 17px;
   width: 100%;
   height: auto;
}



.cards div button{

    position: absolute;
    transform: translate(-40%, -10%);
    background-color: #f1f1f1;
    color: black;
    font-size: 13px;
    padding: 6px;
    border-radius: 15px;
    
} 

