/* *body{
    position: relative;
    margin: 40px;
} */
.footer_sak{
    position: absolute;
    left: 0;
    bottom: 0;
    color: aliceblue;
    width: 100%;
}

.image{
margin: 3vh;
box-sizing: border-box;
}

.footer_a{

    width: 100%;
    padding: 10px;
   bottom: -13px;
}
